In [1]:
x= [20,6,4,9,2,33,8]

In [2]:
largest= -1
smallest= None

for num in x:
    if smallest is None:
        smallest= x[0]
    elif smallest > num:
        smallest = num
    if largest < num:
        largest = num
    
print("smallest : ",smallest)
print("largest : ",largest)

smallest :  2
largest :  33

In [3]:
for i in range(len(x)-2):
    
    if x[i]<x[i+1]>x[i+2]:
        print(x[i+1])

9
33

In [4]:
# prime number between 100 to 200
for num in range(100,200):
    if all(num%i!=0 for i in range(2,num)):
        print(num)

101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

In [5]:
# write a sort function to sort the element in a list
x= [1,5,9,22,45,88,6,76]
x.sort()
x

[1, 5, 6, 9, 22, 45, 76, 88]

In [6]:
# write a sort function without using the list.sort function to sort the element in a list
x= [1,5,9,22,45,88,6,76]

final_list=[]
# i=0
while x:
   
    min=None
    for num in x:
        if min is None:
            min=num
        elif min>num:
            min= num
        #print(num)
    final_list.append(min)
    #print(min)
    x.remove(min)
#     i+=1
    #print(i)
print(final_list)

[1, 5, 6, 9, 22, 45, 76, 88]

In [7]:
# write a python program to print a list in reverse
x= [1,5,9,22,45,88,6,76]
x[::-1]

[76, 6, 88, 45, 22, 9, 5, 1]

In [8]:
# reverse the list by for loop
l = [4,7,9,2]
l2=[]
for x in range(len(l)-1,-1,-1):
    l2.append(l[x])
print(l2)

[2, 9, 7, 4]

In [9]:
# reverse() makes changes in original list
l = [4,7,9,2]
l.reverse()
l

[2, 9, 7, 4]

In [10]:
# reversed()
l = [4,7,9,2]
y=list(reversed(l))
y

[2, 9, 7, 4]

In [11]:
# check whether a string is Palindrome or not(ex-  Madam )
x = "madam"
s= "".join(reversed(x)) # since reversed function return seperate element
# print([i for i in s])

if s== x:
    print(True)
else:
    print(False)

True

In [12]:
# program to print set of duplicates in a list
l= [1,2,3,4,4,5,6,5,1]
print(set([x for x in l if l.count(x)>1]))

{1, 4, 5}

In [13]:
# write fibbonacci series, using while loop and generator function
def fin_gen():
    a=0
    b=1
    while 1:
        yield a
        c=a+b
        a,b=b,c
b= fin_gen()
z= int(input("enter number : "))
for x in range(z):
    print(next(b))

enter number : 5
0
1
1
2
3

In [14]:
# write fibbonacci series, using for loop and generator function
k=int(input("enter"))
def fib(num):
    a,b=0,1
    for x in range(num):
        yield a
        a,b=b,a+b
z=list(fib(k))
z

enter4

[0, 1, 1, 2]

In [15]:
y=int(input())
def func(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return func(n-1)+ func(n-2)
for x in range(y):
    print(func(x))

4
0
1
1
2

In [16]:
# write a python program to print Fibonacci Series

y=int(input("enter the value"))
def func(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return func(n-1)+func(n-2)
for x in range(y):
    print(func(x))

enter the value4
0
1
1
2

In [17]:
#print current date and time
import datetime
print(datetime.datetime.now())
today= datetime.datetime.now()
today.strftime("%y-%m-%d %H:%M:%S")

2022-11-17 22:19:19.630560

'22-11-17 22:19:19'

In [18]:
# to find email is valid or not
import re
def reg(mail):
    regex="^[a-z0-9.%+-]+@[a-z0-9]+\.[a-z]{2,}$"
    if len(mail)>7:
        if re.match(regex,mail,re.IGNORECASE) is not None:
            return True
if reg("netsetos@gmail.com"):
    print("valid")
else:
    print("invalid")

valid

In [20]:
# what is OS?
import os
print(os.name)  # nt is name for window
print(os.getcwd()) # get current working directory
os.mkdir("new")  # to make new directory
os.rmdir("new")  # to remove directory
os.makedirs("new//new2") # to make directory under directory
os.listdir()  # to view all list

nt
C:\Users\Dhyanendra Singh\coding folder\practice\python

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'new'

In [21]:
# to a read file with multiple lines and split data by lines? also split into words\
fb= open("title.txt") 
data= fb.read()
# print(data)

lines= data.split("\n")
print(lines)
# for line in lines:
#     words= line.split(" ")
#     for word in words:
#         print(word)
fb.close()

['Hii, This is Dhyanendra Singh.', 'I have completed my M.Tech from NIT-Bhopal. ', 'I have also done certification courses from coursera like "Python for everyone" offered by University of Michighan.', 'I have also done one cerification course from IIT-Madras. The name of the course is "Python for Data Science.']

In [22]:
with open("title.txt", "r") as f:
    x=f.read()
print(x.split())

['Hii,', 'This', 'is', 'Dhyanendra', 'Singh.', 'I', 'have', 'completed', 'my', 'M.Tech', 'from', 'NIT-Bhopal.', 'I', 'have', 'also', 'done', 'certification', 'courses', 'from', 'coursera', 'like', '"Python', 'for', 'everyone"', 'offered', 'by', 'University', 'of', 'Michighan.', 'I', 'have', 'also', 'done', 'one', 'cerification', 'course', 'from', 'IIT-Madras.', 'The', 'name', 'of', 'the', 'course', 'is', '"Python', 'for', 'Data', 'Science.']

In [23]:
# merge one dictionary to other dictionary
dict1={1:"a",2:"b"}
dict2={3:"c",4:"d"}
dict1.update(dict2)      # method 1
print(dict1)

dict3={**dict1,**dict2}  # method 2
print(dict3)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}
{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [24]:
# remove duplicates from list
arr=[1,4,2,5,2,3,4,1,4,5,2,3]

#set
arr2=list(set(arr))
print(arr2)

#using array
arr3=[]
for i in arr:
    if i not in arr3:
        arr3.append(i)
print(arr3)

#using dictionary
dict1 ={"car":["ford","toyota","ford","toyota"],
       "brand":["mustang","rang","mustang","rang"]}
dict2={}
for key,value in dict1.items():
    dict2[key]=set(value)
print(dict2)

[1, 2, 3, 4, 5]
[1, 4, 2, 5, 3]
{'car': {'toyota', 'ford'}, 'brand': {'mustang', 'rang'}}

In [25]:
# write a code to findout common letters between 2 strings
#ex- NAINA and REENE  common is "N"
def func():
    str1= input("enter str1")
    str2= input("enter str2")
    str1=set(str1)
    str2=set(str2)
    com= str1& str2
    return com
z= func()
z

enter str1rt
enter str2tr

{'r', 't'}

In [27]:
# code to count frequency of words
def func():
    str1=input("enter string") # sheena loves eating apples and mangoes.Her sister also loves eating apples and mangoes
    li = str1.split()
    d={}
    for i in li:
        if i not in d.keys():
            d[i]=0
        d[i]+=1
    print(d)
func()

enter stringsheena loves eating apples and mangoes.Her sister also loves eating apples and mangoes
{'sheena': 1, 'loves': 2, 'eating': 2, 'apples': 2, 'and': 2, 'mangoes.Her': 1, 'sister': 1, 'also': 1, 'mangoes': 1}

In [28]:
# lists to dict
def func():
    keys=[1,2,3]
    values=["one","two","three"]
    results=dict(zip(keys,values))
    print(results)
func()

{1: 'one', 2: 'two', 3: 'three'}

In [29]:
# finding sum and average
num=0
sum=0

while True:

    x= input('please enter the number : ')
    
    if x=='n' or x =='N':
        break
    try:
        x= float(x)
        
    except:
        print('invalid input')
        continue
    sum= x+ sum
    num =num+ 1
    avg = sum/num
    print(f'sum : {sum},numbers : {num}, avg : {avg}')

please enter the number : n

In [30]:
# to find whether it is prime number

num = int(input('enter the number : '))

isDivisible= False

i=2;
while i< num:
    if num% i ==0:
        isDivisible= True
        print('{} is dividible by {}'.format(num,i))
        break
    i+=1
if isDivisible:
    print('{} is NOT a prime number'.format(num))
else:
    print('{} is a prime number '.format(num))

enter the number : 5
5 is a prime number

In [31]:
# to display all the prime number between 10 to 50
idx1=10
idx2=50

print('prime numbers between {0} and {1} are : '.format(idx1,idx2))

for num in range(idx1,idx2+1):
    if num>1:
        isDivisible =False;
        for index in range(2,num):
            if num % index==0:
                isDivisible = True
        if not isDivisible:
            print(num)

prime numbers between 10 and 50 are :
11
13
17
19
23
29
31
37
41
43
47

## youtube

In [ ]:
#palindrome

In [33]:
# for string 
#A. By using Split Method (****Best***)

def palindrome(s):
    temp=s[::-1]
    if s== temp:
        print("Yes! its a palindrome")
    else:
        print('No! its not a palindrome')
s='nitin'
palindrome(s)

Yes! its a palindrome

In [34]:
# B. By using indexing/using for loop
def palindrome2(s):
    n=len(s)
    for i in range(n):
        if s[i]!=s[n-1-i]:
            return False
    return True

s='nitin'
palindrome2(s)

True

In [36]:
# by using inbuilt functions- reversedand join
def palindrome3(s):
    temp = ''.join(reversed(s))
    if s==temp:
        return True
    else:
        return False
s='nitin'
palindrome3(s)

True

In [49]:
# by using WHILE loop
def palindrome4(s):
    i=0
    n=len(s)
    while i<n:
        if s[i]!=s[n-1-i]:
            return False
        i+=1
    return True
x='nitin'
palindrome4(x)

# or other while loop

def palindrome5(s):
    n=len(s)
    first = 0
    last = n-1
    while (first<last):
        if s[first]==s[last]:
            first+=1
            last-=1
        else:
            return False
    return True
s= 'nitin'
palindrome5(s)

True

In [63]:
# for number(****Best***)
# by using WHILE loop
def palindrome6(n):
    temp=n              #1456
    rev_n= 0
    while (temp>0):
        digit= temp%10   #6
        #print(digit)
        rev_n= rev_n*10 + digit
        #rev_n = 0*10 + 6 = 6
        temp = temp// 10  #145
        #print(temp)
    if n==rev_n:
        return True
    else:
        return False
n=12345654321
palindrome6(n)

True

In [66]:
#fibonacci Series

In [79]:
#1. find the fibonaci series from 0 to nth number using while loop
#using WHILE loop

def fib(n):
    a,b = 0,1
    while (b<n):
        print(a)
        a,b=b,a+b
fib(10)

0
1
1
2
3
5

In [89]:
# by using for loop
def fib2(n):
    a,b=0,1
    if n==1:
        print(a)
    else:
        print(a)
        print(b)
        for i in range(2,n):
            a,b=b,a+b
            print(b)
fib2(11)

0
1
1
2
3
5
8
13
21
34
55

In [91]:
#by using recursion  (**Best**)
def feb3(n):
    if n<=1:
        return n
    else:
        return (feb3(n-1) + feb3(n-2))
n=10
if n<0:
    print('Invalid')
else:
    for i  in range(n):
        print(feb3(i))

0
1
1
2
3
5
8
13
21
34

In [93]:
# Compress string - compressing number between strings

In [8]:
#input-  aabbccaaaafffeiii
#output - a2b2c2a4f3e1i3

#using for loop ***BEST***

def compress(s):
    n=len(s)
    new_s=''
    count=1
    for i in range(n-1):
        if s[i]==s[i+1]:
            count+=1
        else:
            new_s=new_s+ s[i]+ str(count)
            #new_s +=(s[i]+str(count))
            count=1
    new_s = new_s + s[n-1]+str(count)     # important don't forget
    return new_s

s= 'aabbccaaaafffeiii'
compress(s)

'a2b2c2a4f3e1i3'

In [22]:
#other way  ***Good***
s= 'aabbccaaaafffeiii'
def comp(s):
    app={}
    new_s=''
    for i in s:      
        if i not in app:
            app[i]=1
            #print(app)
        else:
            app[i]=app[i]+1            
    for i,j in app.items(): 
        new_s = new_s+i+str(j)
    return new_s
comp(s)

'a6b2c2f3e1i3'

In [35]:
# by using WHILE loop

s= 'aabbccaaaafffeiii'
def comp1(s):
    dct={}
    new_s=''
    count=1
    i=0
    while i<len(s)-1:
        if s[i] == s[i+1]:
            count+=1
        else:
            new_s = new_s + s[i]+ str(count)
            count=1
        i+=1
    new_s = new_s + s[len(s)-1]+ str(count)  
    return new_s
comp1(s)
    
    
#or
s= 'aabbccaaaafffeiii'
def comp2(s):
    n=len(s)
    i=0
    new_s=''
    while (i<n-1):
        count=1
        while (i<n-1 and s[i]==s[i+1]):
            count+=1
            i+=1
            #print(i)
        i+=1
        new_s= new_s + s[i-1] + str(count)
        
    return new_s
comp2(s)

'a2b2c2a4f3e1i3'

In [41]:
# FizzBuzz

# if number divisible by 3 - print Fizz
# if number divisible by 5 - print Buzz
# if number divisible by 15 - print FizzBuzz
# else print the number
# 1 - 1
# 2 - 2
# 3 - Fizz
# 4 - 4
# 5 - Buzz
# 6 - Fizz
# ........
# 15 - FizzBuzz

In [44]:
# By Using for loop  ***BEST***

def fizbuz(n):
    for i in range(1,n+1):
        if i%3 ==0 and i%5 == 0:   # i%15==0
            print(i,' -  FizzBuzz')
        elif i%3==0:
            print(i,' -  Fizz')
        elif i%5==0:
            print(i,' -  Buzz') 
        else :
            print (i,' - ',i)
x= int(input('enter the number : '))
fizbuz(x)

enter the number : 5
1  -  1
2  -  2
3  -  Fizz
4  -  4
5  -  Buzz

In [50]:
# By using Dictionary

def fizbuz2(n):
    d={3: 'Fizz',
      5 : 'Buzz'}
    for i in range(1,n+1):
        result = ''
        for k,v in d.items():
            if i%k==0:
                result+=v
        if not result:
            result = i
        print(result)
fizbuz2(1)

1

In [54]:
# Character Occurence
# 1. Least repeating character in a string
# 2. Count of any particular element
# 3. Count of all elements

In [89]:
# 1. Least repeating character in a string
# 3. Count of all elements

def least_char_occ(s):
    ch={}
    for i in s:
        if i in ch:
            ch[i]=ch[i]+1
        else:
            ch[i]=1
    print(ch)
    result= min(ch,key=ch.get)     ## important
    return result
s= 'aaabbbhhhshhhhhsssjjijsjshdk'
least_char_occ(s)

{'a': 3, 'b': 3, 'h': 9, 's': 6, 'j': 4, 'i': 1, 'd': 1, 'k': 1}

'i'

In [102]:
###min(ch,key=ch.get)

'i'

In [79]:
# other way (my way)
s= 'aaabbbhhhshhhhhsssjjijsjshdk'
d={}
for i in s:
    if i not in d.keys():
        d[i]=1
    else:
        d[i]=d[i]+1
print(d)
for j,k in d.items():
    if k==min(d.values()):
        print(j)

{'a': 3, 'b': 3, 'h': 9, 's': 6, 'j': 4, 'i': 1, 'd': 1, 'k': 1}
i
d
k

In [80]:
# other way (my way)
d={}
for i in s:
    d[i]=d.get(i,0)+ 1
    
print(d)
for j,k in d.items():
    if k==min(d.values()):
        print(j)

{'a': 3, 'b': 3, 'h': 9, 's': 6, 'j': 4, 'i': 1, 'd': 1, 'k': 1}
i
d
k

In [81]:
# to find index of any number of list
t = [1,2,3,4,5,6,7]
for k,v in enumerate(t):
    if v==7:
        print(k)

6

In [88]:
# using inbuilt function Counter
from collections import Counter
s= 'aaabbbhhhshhhhhsssjjijsjshdk'
ch= Counter(s)
result = min(ch, key =ch.get)
print(result)

i

In [106]:
# 2. Count of any particular element

l = [1,2,3,4,5,6,7,5,4,3,4,6,4,3,4,3,1]
print(l.count(4))

s='aacbfhvbdhwaushdtdvabavxgdaa'
print(s.count('a'))

5
7

In [107]:
# without using count function

def count_char_occ(s,search_ch):
    ch={}
    for i in s:
        if i in ch:
            ch[i]=ch[i]+1
        else:
            ch[i]=1
    print(ch)
    try:
        print(ch[search_ch])
    except:
        print(0)
s='aacbfhvbdhwaushdtdvabavxgdaa'
count_char_occ(s,'a')

{'a': 7, 'c': 1, 'b': 3, 'f': 1, 'h': 3, 'v': 3, 'd': 4, 'w': 1, 'u': 1, 's': 1, 't': 1, 'x': 1, 'g': 1}
7

In [108]:
# Prime Number

In [115]:
# to check if the number is a prime number or not

#using Flag
def prime_number(n):
    flag = False
    if n>1:
        for i in range(2,n): #for i in range(2,n//2+1) -  to make it efficient
            if n%i==0:
                flag= True
                break
    if flag:
        return 'No! Its not a prime number'
    else:
        return 'Yes! Its a prime number'
prime_number(4)

'No! Its not a prime number'

In [120]:
# using for-else      ********BEST*****
def prime_number2(n):
    if n>1:
        for i in range(2,n):
            if n%i==0:
                print('No! Its not a prime number')
                break
        else:
            print('Yes! Its a prime number')
            
prime_number2(5)

Yes! Its a prime number

In [125]:
# Display all the prime numbers within an interval

def prime_number3(start,end):
    for n in range(start,end):
        if n>1:
            for i in range(2,n//2+1):
                if n%i==0:
                    #print('No! Its not a prime number')
                    break
            else:
                print(n)
prime_number3(1,50)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [126]:
#Modify String Format

In [127]:
# Input = I_Am_A_Coder
# Output = i.aM.a.cODER

# Input = This_Is_A_Good_Morning
# Output = tHis.Is.a.gOOD.mORNING

#changes
# _ = .
# first upper letter = first lower letter
# remaining lower letter = remaining upper letter

In [129]:
#Using List
def string_format(s):
    l=[]
    temp= s.split('_')
    for i in temp:
        l.append(i[0].lower() + i[1:].upper())
    s= '.'.join(l)
    print(s)
s= 'I_Am_A_Coder'
string_format(s)

i.aM.a.cODER

In [135]:
#Using String
def string_format2(s):
    new_s= ''
    temp=s.split('_')
    for i in temp:
        new_s=new_s + i[0].lower() + i[1:].upper() + '.'
    new_s = new_s[:-1]                                      # imp
    print(new_s)
s= 'I_Am_A_Coder'
string_format2(s)

i.aM.a.cODER

In [136]:
# Second Highest Number

In [137]:
# Using for loop
# using reverse sort
# using set and max()

In [141]:
# Using for loop
# Assuming there will be more than 2 numbers


#**********************not fully understood**********************Best**
def second_highest_number(l):
    if l[0]>l[1]:
        first = l[0]
        second= l[1]
    else:
        first = l[1]
        second= l[0]
    for i in range(2,len(l)):
        if l[i]>first:
            second= first
            first = l[i]
        elif l[i]>second and first!= l[i]:  # and first!= l[i] work fine in repeated digit
            second=l[i]
    return second
l= [10,20,30,4,100,22]

second_highest_number(l)

30

In [144]:
# using reverse sort
# find Nth Highest
def second_highest_number_using_sort(l,n):
    l.sort(reverse=True)
    print(l)
    print(l[n-1])
l= [10,20,30,4,100,22]
second_highest_number_using_sort(l,5)

[100, 30, 22, 20, 10, 4]
10

In [145]:
# using set and max()
l= [10,20,30,4,100,22,666,666,2,44,20]
new_l = set(l)
print(new_l)
new_l.remove(max(new_l))
print(new_l)
print(max(new_l))

{2, 100, 4, 10, 44, 20, 22, 666, 30}
{2, 100, 4, 10, 44, 20, 22, 30}
100

In [146]:
#Armstrong Number

# A no. that is equal to the sum of cubes of its digit
# 153 = 1*1*1 + 5*5*5 + 3*3*3 = 1+125+27 = 153

In [147]:
def armstrong(n):
    sum= 0 
    temp= n
    while temp>0:
        digit = temp%10
        sum = sum + (digit**3)
        temp = temp//10
    if n == sum:
        print('Yes')
    else:
        print('No')
n= 371
armstrong(n)

Yes

In [149]:
# print the list of armstrong number for a particular interval
def armstrong1(start,end):
    for n in range(start,end):
        sum= 0 
        temp= n
        while temp>0:
            digit = temp%10
            sum = sum + (digit**3)
            temp = temp//10
        if n == sum:
            print(n)
armstrong1(0,500)

0
1
153
370
371
407

In [151]:
# program to write sum of digits of a number

def sum_of_digit(n):
    temp=n
    sum = 0
    if n>9:
        while temp>0:
            digit = temp%10
            sum = sum + digit
            temp = temp//10
    else:
        sum = n
    return sum
sum_of_digit(123455)

20

In [152]:
# Factorial

In [153]:
# for loop
# 2nd case -  145! = 1!+ 4! + 5! = 1+24+120= 145
# print number from 1 to 1 lakh where the 'summation' 
#           of the 'factorial of each digit' equals to the 'actual number'
# example -  145! = 1!+ 4! + 5! = 1+24+120= 145

In [154]:
def factorial(n):
    facto = 1
    for i in range(1,n+1):
        facto = facto*i       # facto*=i
    return facto
factorial(5)

120

In [155]:
# whether number follows the case

def sum_of_facto(n):
    temp = n
    sum = 0
    while( temp>0):
        digit = temp%10
        temp =temp//10
        facto= factorial(digit)
        sum = sum + facto
    if sum==n:
        print('yes')
    else:
        print('No')
sum_of_facto(145)

yes

In [156]:
# print number from 1 to 1 lakh where the 'summation' 
#           of the 'factorial of each digit' equals to the 'actual number'

print('List of numbers that follows the case within interval')
def sum_of_facto(start,end):
    for n in range(start,end):
        temp = n
        sum = 0
        while temp>0:
            digit = temp%10
            temp= temp//10
            facto = factorial(digit)
            sum = sum + facto
        if sum == n:
            print(n)
sum_of_facto(1,200000)

List of numbers that follows the case within interval
1
2
145
40585

In [ ]:
#by using for loop
#22:27
#https://www.youtube.com/watch?v=UFAwAw-7Zpw&list=PL1B8DuzqTNOIPAHtx1uAkAkIPYge2r7xn&index=12&t=2751s